main {
    margin-top: 4rem;
}

h1,
h3,
p {
    text-align: center;
}

section {
    margin-top: 4rem;
}

p.time-progress {
    font-weight: bold;
}

p.goal,
p.start-date {
    font-size: 80%;
}

h3,
p.start-date {
    margin-bottom: 0.25rem;
}
