body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

h1 {
  padding: 0 20px;
  font-size: 10vw; /* Adjust based on your specific needs */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
